/* font-family: 'Anton', sans-serif;
font-family: 'Audiowide', cursive; */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
:root{
 font-size: 62.5%;
 --color-h1: #FFD600
}
body{
 width: 100%;
 height: 100vh;
 background-color: #0D0D0D;
}
header{
 display: flex;
 justify-content: space-between;
 
 align-items: center;
 padding: 20px;
 width: 100%;
 height: 94px;
 
 background-color: #262626;
}

.nav a{
    text-decoration: none;
    color: inherit;
}

#projetos{
    color: #262626;
}
ul{
 display: flex;
 gap: 2.4rem;
}
li{
 list-style: none;
 font-family: 'Audiowide';
 font-style: normal;
 font-weight: 400;
 font-size: 2.4rem;
 line-height: 3.2rem;
}
header h1, li{
 color: var(--color-h1);
}
.dantasp h1{
    color: #FFD600;
}
header h1{
 font-size: 6.4rem;
}
h1{
 font-family: 'Anton', sans-serif;
 font-size: 4.8rem;
}
main{
 display: flex;
 justify-content: space-between;
}
svg{
 position: relative;
 width: 100%;
 left: 0;
 top: 0;
}
.conteiner{
 width: 100%;
 position: absolute;
 display: flex;
 justify-content: space-around;
}
.left{
 top: 8rem;
 padding: 3.2rem;

}
#quemsomos{
 color: #0D0D0D;
 margin-bottom: 1.6rem;
}
p{
 font-family: 'Audiowide', cursive;
 font-size: 2.4rem;
 width: 65rem;
 height: 40rem;
}

.right img{
 width: 65.1rem;
 height: 68.5rem;
}

#home{

width: 91px;
height: 39px;
left: 913px;
top: 29px;

background: linear-gradient(135deg, #242424 0%, #282828 100%);
box-shadow: -3px 3px 6px 
    rgba(15, 15, 15, 0.2), 3px -3px 6px 
    rgba(15, 15, 15, 0.2), -3px -3px 6px 
    rgba(61, 61, 61, 0.9), 3px 3px 8px 
    rgba(15, 15, 15, 0.9), inset 1px 1px 2px 
    rgba(61, 61, 61, 0.3), inset -1px -1px 2px 
    rgba(15, 15, 15, 0.5);
border-radius: 15px;
}

#perfil{

width: 91px;
height: 39px;
left: 1028px;
top: 29px;

background: linear-gradient(135deg, #242424 0%, #282828 100%);
box-shadow: -3px 3px 6px 
    rgba(15, 15, 15, 0.2), 3px -3px 6px 
    rgba(15, 15, 15, 0.2), -3px -3px 6px 
    rgba(61, 61, 61, 0.9), 3px 3px 8px 
    rgba(15, 15, 15, 0.9), inset 1px 1px 2px 
    rgba(61, 61, 61, 0.3), inset -1px -1px 2px 
    rgba(15, 15, 15, 0.5);
border-radius: 15p
}

#projetos{
width: 132.36px;
height: 39px;
left: 1143px;
top: 29px;

background: #FFD600;
box-shadow: inset 0px 4px 32px 
    rgba(0, 0, 0, 0.2), inset -2px 2px 4px 
    rgba(102, 86, 0, 0.2), inset 2px -2px 4px 
    rgba(102, 86, 0, 0.2), inset -2px -2px 4px 
    rgba(255, 255, 0, 0.9), inset 2px 2px 5px 
    rgba(102, 86, 0, 0.9);
border-radius: 15px;
}

#contato{

width: 122px;
height: 39px;
left: 1298px;
top: 29px;

background: linear-gradient(135deg, #242424 0%, #282828 100%);
box-shadow: -3px 3px 6px 
    rgba(15, 15, 15, 0.2), 3px -3px 6px 
    rgba(15, 15, 15, 0.2), -3px -3px 6px 
    rgba(61, 61, 61, 0.9), 3px 3px 8px 
    rgba(15, 15, 15, 0.9), inset 1px 1px 2px 
    rgba(61, 61, 61, 0.3), inset -1px -1px 2px 
    rgba(15, 15, 15, 0.5);
border-radius: 15px;
}